<%-include('header.ejs')-%>
<!---------------------------------------------------------->
<div class="result-box">
    <div class="stock-name">
        <h1><%= stockName %></h1>
    </div>
    <div class="stock-info">
        <div class="info-box">
            <div class="info-style-1">
                <p class="sub-title">Price</p>
                <p class="marketPrice"><%= marketPrice %></p>
            </div>
            <div class="info-style-2">
                <p class="sub-title">EPS</p>
                <p class="marketEPS"><%= marketEPS %></p>
            </div>
            <div class="info-style-1">
                <p class="sub-title">PER</p>
                <p class="marketPER"><%= marketPER %></p>
            </div>
            <div class="info-style-2">
                <p class="sub-title">BPS</p>
                <p class="marketBPS"><%= marketBPS %></p>
            </div>
            <div class="info-style-1">
                <p class="sub-title">PBR</p>
                <p class="marketPBR"><%= marketPBR %></p>
            </div>
            <div class="info-style-2">
                <p class="sub-title">ROE</p>
                <p class="marketROE"><%= marketROE %>></p>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------->
<script>

</script>
<!---------------------------------------------------------->
<%-include('footer.ejs')-%>